@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

.bg-image {
    height: 100vh;

    background: url('/assets/images/bg-img.jpg') no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }


/*--------------------------------------------------------------------------- Color*/

.bg-color-navbar {
    background-color: #00C9CD;
}

.bg-color-footer {
    background-color: #00C9CD;
}

.bg-color-button {
    background-color: #dde9e6;
    border-color: transparent;
}

.bg-color-music {
    background-color: #dde9e670;
}

.bg-color-release {
    background-color: #ff8649a1;
}

.bg-color-events {
    background-color: #dde9e6;
}

body .bg-color-photos {
    background-color: #ff8649a1;
}

.bg-color-biography {
    background-color: #dde9e670;
}

.bg-color-contactform {
    background-color: #dde9e670;
}

.bg-color-button2 {
    background-color: #00C9CD;
    border-color: transparent;
}

.bg-color-urgent-contact {
    background-color: #ff8649a1;
}

/*--------------------------------------------------------------------------- Special paddings, margins, text*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #008080;
}

.uppercase {
    text-transform: uppercase;
}

.gen-heading {
    letter-spacing: 10px;
    font-weight: 700;
}

#namelogo {
    font-size: 2em;
    letter-spacing: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px #0000003a;
    color: #006363;
}

.light-font-color {
    color: #E6F4F1;
}

.quotes-text1 {
    color: #FF8749;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.quotes-text2 {
    color: #FF8749;
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
}

/*--------------------------------------------------------------------------- Header*/

header {
    margin: auto 0;
}

#namelogo:hover {
    color: white;
}

.navbar-brand {
    margin-left: 20px;
    padding-top: 10px;
    width: auto;
}

.nav-link {
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: #006363;
}

.navbar-nav .nav-link {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:active:focus {
    color: white;
    text-align: center;
    font-size: 20px;
}


.navbar-toggler {
    margin-right: 20px;
}

span .navbar-toggler-icon {
    margin-right: 20px;
    border: 2px solid;
}

/**************************************** border to burger icon

.navbar-light .navbar-toggler-icon {
    border: 2px solid;
}
 *****************************************/

/*--------------------------------------------------------------------------- Footer*/

footer {
    font-size: 30px;
    color: #008080;
    font-family: "Poppins", sans-serif;
}

.input-group>.form-control,
.input-group>.form-select {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .btn {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #008080;
}

.list-inline-item i,
.input-group {
    padding-top: 20px;
    color: #008080;
}

.list-inline-item i {
    letter-spacing: 45px;
}

.list-inline-item i:hover {
    color: white;
}

.socials {
    text-align: center
}
/*--------------------------------------------------------------------------- Hero-image*/

.hero-image {
    max-width: 100%;
    height: 100vh;
    background-image: url('/assets/images/hero-image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
   

/*--------------------------------------------------------------------------- Music*/

img {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    object-fit: cover;
    object-position: 100% 200% ;



}

.table {
    color: #008080;
}

.song:hover,
.song:active,
.song:focus {
    text-align: center;
    font-weight: bold;
}

/*--------------------------------------------------------------------------- Video Release*/

video source {
    position: absolute;
    top: 30%;
    left: 30%;
}

video {
    max-width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

/*--------------------------------------------------------------------------- Events*/

table {
    margin-top: 15px;
    padding-bottom: 20px;
}

/*--------------------------------------------------------------------------- BIO-photo*/


/*--------------------------------------------------------------------------- BIO-biography*/


/*--------------------------------------------------------------------------- BIO-biography media query*/

/*---@media screen and (max-width:480px) {
    .biography {
        text-align: center;
    }
}-----------------------------------------------------------------------------------?will revisit the effect-seems not suitable*/

/*--------------------------------------------------------------------------- CONTACT-form*/
.text-spacing {
    letter-spacing: 3px;
}

form .btn {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #008080;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

/*--------------------------------------------------------------------------- CONTACT-urgent*/
.music-production:hover {
    font-size: 30px;
}

/*--------------------------------------------------------------------------- media queries*/
/*--------------------------------------------------------------------------- Mobile media queries*/

@media only screen and (max-width: 992px) {
    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);

    }
}


@media only screen and (max-width: 768px) {
    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
        

    }

    .hero-image {
        max-width: 100%;
        height: 100vh;
        background-image: url('/assets/images/hero-image-no-logo.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    img {
        max-width: 100%;

    }
}

@media only screen and (max-width: 600px) {

    #namelogo {
        width: 60%;
        letter-spacing: normal;
    }

    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
    

    }

    .hero-image {
        display: none;
    }
    
    img {
        max-width: 80%;

    }

    audio {
        width: 10em;
    }
}

@media only screen and (max-width: 320px) {

    header .navbar {
        width: 100%;
    }

    #namelogo {
        width: 70%;
        font-size: xx-large;
    }

    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
    

    }

    .hero-image {
        display: none;
    }

    img {
        max-width: 80%;

    }
    audio {
        width: 10em;
    }

    .socials i {
        font-size: 20px;
        text-align: center;
    }

    .socials {
        margin-left: 20px;
    }

    .input-group {
        display: grid;
    }

    .input-group>.form-control,
    .input-group>.form-select {
        width: auto;
    }

    /*https://developer.mozilla.org/en-US/docs/Web/CSS/::placeholder*/
    textarea,
    input::placeholder {
        text-align: center;
    }

}