@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');


/*--------------------------------------------------------------------------- Color*/

.bg-color-navbar {
    background-color: #00C9CD;
}

.bg-color-footer {
    background-color: #00C9CD;
}

.bg-color-button {
    background-color: #dde9e6;
    border-color: transparent;
}

.bg-color-music {
    background-color: #dde9e6;
}

.bg-color-release {
    background-color: #ff8649d7;
}

.bg-color-events {
    background-color: #dde9e6;
}

body .bg-color-photos {
    background-color: #ff8649a1;
}
/*--------------------------------------------------------------------------- Special paddings, margins, text*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #008080;
}

.uppercase {
    text-transform: uppercase;
}

.gen-heading {
    letter-spacing: 10px;
    font-weight: 700;
}

#namelogo {
    font-size: 40px;
    letter-spacing: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px #0000003a;
    color: #008080;
}

.light-font-color {
    color: #E6F4F1;
}

/*--------------------------------------------------------------------------- Header*/

header {
    margin: auto 0;
}

#namelogo:hover {
    color: white;
}

.navbar-brand {
    margin-left: 20px;
    padding-top: 10px;
}

.nav-link {
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: #008080;
}

.navbar-nav .nav-link {
    text-align: center;
}


/******* .navbar-light .navbar-nav .nav-link:visited,**         pls check what can be done*/
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:active:focus {
    color: white;
    text-align: center;
    font-size: 20px;
}

.navbar-toggler {
    margin-right: 20px;
}

span .navbar-toggler-icon {
    margin-right: 20px;
    border: 2px solid;
}

/**************************************** border to burger icon

.navbar-light .navbar-toggler-icon {
    border: 2px solid;
}
 *****************************************/

/*--------------------------------------------------------------------------- Footer*/


footer {
    font-size: 30px;
    color:#008080;
    font-family: "Poppins", sans-serif;
}

.input-group>.form-control,
.input-group>.form-select {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color:#008080;
}

.list-inline-item i,
.input-group {
    padding-top: 20px;
    color:#008080;
}

.list-inline-item i {
    letter-spacing: 45px;
}

.list-inline-item i:hover {
    color: white;
}

.socials {
    text-align: center
}

/*--------------------------------------------------------------------------- Music*/

img {
    max-width: 80%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    
}
.table { 
    color: #008080;
}

.song:hover,
.song:active,
.song:focus {
    text-align: center;
    font-weight: bold;
}


/*--------------------------------------------------------------------------- Video Release*/

video source {
    position: absolute;
    top: 30%;
    left: 30%;
}

video {
    max-width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

/*--------------------------------------------------------------------------- Events*/

table {
    margin-top: 15px;
    padding-bottom: 20px;
}

/*--------------------------------------------------------------------------- BIO-photo*/