/*Import from Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%
}


/*For arrangement of section content upon adding bg-image*/
.bg-image {
    height: 100vh;
    background: url("../images/bg-img.jpg") no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/*--------------------------------------------------------------------------- Color*/

.bg-color-navbar {
    background-color: #00C9CD;
}

.bg-color-footer {
    background-color: #00C9CD;
}

.bg-color-button {
    background-color: #dde9e6;
    border-color: transparent;
}

.bg-color-music {
    background-color: #dde9e670;
}

.bg-color-release {
    background-color: #ff8649a1;
}

.bg-color-events {
    background-color: #dde9e6;
}

body .bg-color-photos {
    background-color: #ff8649a1;
}

.bg-color-biography {
    background-color: #dde9e670;
}

.bg-color-contactform {
    background-color: #dde9e670;
}

.bg-color-button2 {
    background-color: #00C9CD;
    border-color: transparent;
}

.bg-color-urgent-contact {
    background-color: #ff8649a1;
}

.bg-color-form-sent {
    background-color: #dde9e670;
}

.bg-color-form-sent-img {
    background-color: #ff8649a1;
}

/*--------------------------------------------------------------------------- Special paddings, margins, text*/
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #008080;
}

.uppercase {
    text-transform: uppercase;
}


.gen-heading {
    letter-spacing: 10px;
    font-weight: 700;
}

/*For shadow effect on the logo*/
#namelogo {
    font-size: 2em;
    letter-spacing: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px #0000003a;
    color: #006363;
}

.light-font-color {
    color: #E6F4F1;
}


.quotes-text1 {
    color: #FF8749;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.quotes-text2 {
    color: #FF8749;
    font-family: "Roboto", sans-serif;
    padding-top: 10px;
}

/*--------------------------------------------------------------------------- Header*/

header {
    margin: auto 0;
}

#namelogo:hover {
    color: white;
}

.navbar-brand {
    margin-left: 20px;
    padding-top: 10px;
    width: auto;
}

.nav-link {
    letter-spacing: 5px;
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link {
    color: #006363;
}

.navbar-nav .nav-link {
    text-align: center;
}


/*Hover effect on navbar link*/
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:active:focus {
    color: white;
    text-align: center;
    font-size: 20px;
}


.navbar-toggler {
    margin-right: 20px;
}

span .navbar-toggler-icon {
    margin-right: 20px;
    border: 2px solid;
}

/**************************************** border to burger icon

.navbar-light .navbar-toggler-icon {
    border: 2px solid;
}
 *****************************************/

/*--------------------------------------------------------------------------- Footer*/

footer {
    font-size: 30px;
    color: #008080;
    font-family: "Poppins", sans-serif;

}


.input-group>.form-control,
.input-group>.form-select {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .btn {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #008080;
}

.list-inline-item i,
.input-group {
    padding-top: 20px;
    color: #008080;
}

.list-inline-item i {
    letter-spacing: 45px;
}

.list-inline-item i:hover {
    color: white;
}

.socials {
    text-align: center
}

/*--------------------------------------------------------------------------- Successful-image*/
.form-sent-img figure img {
    max-width: 50%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    object-fit: cover;
    object-position: 100% 200%;
}

.shrink img {
    transition: 1s ease;
}

.shrink img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

/*--------------------------------------------------------------------------- Hero-image*/

.hero-image {
    max-width: 100%;
    height: 100vh;
    background-image: url("../images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------------------- Music*/


/*To responsively align album cover in the center*/
img {
    max-width: 100%;
    height: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
    object-fit: cover;
    object-position: 100% 200%;
}

.table {
    color: #008080;
}

.song:hover,
.song:active,
.song:focus {
    text-align: center;
    font-weight: bold;
}

/*--------------------------------------------------------------------------- Video Release*/

/*To responsively center video in the layout*/
video source {
    position: absolute;
    top: 30%;
    left: 30%;
}

/*For shadow effect on the video element*/
video {
    max-width: 80%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

/*--------------------------------------------------------------------------- Events*/

table {
    margin-top: 15px;
    padding-bottom: 20px;
}

/*--------------------------------------------------------------------------- BIO-photo*/

/*Adjust img size in the carousel*/
.w-100 {
    width: 80% !important;
}

/*--------------------------------------------------------------------------- BIO-biography*/


/*--------------------------------------------------------------------------- BIO-biography media query*/

/*---@media screen and (max-width:480px) {
    .biography {
        text-align: center;
    }
}-----------------------------------------------------------------------------------?will revisit the effect-seems not suitable*/

/*--------------------------------------------------------------------------- CONTACT-form*/
.text-spacing {
    letter-spacing: 3px;
}

form .btn {
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #008080;
}

.center-form2 {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.center-urgent-contact {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

/*--------------------------------------------------------------------------- CONTACT-urgent*/
.music-production:hover {
    font-weight: bold;

}

/*--------------------------------------------------------------------------- media queries*/
/*--------------------------------------------------------------------------- Mobile media queries*/

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
   /*to push sections to the bottom of the page-fix white space*/
    .pt-5, .py-5 {
        padding-top: 5rem!important;
    }
}

/*For 992px breakpoint in Chrome Dev Tool*/
@media only screen and (max-width: 992px) {

    .album-cover img {
        display: none;
    }
}

/*For uniformity of navbar collapse background color*/
@media only screen and (max-width: 991.98px) {
    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
    }

}

/*For 768px breakpoint in Chrome Dev Tool*/
@media only screen and (max-width: 768px) {
    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
    }

    .hero-image {
        max-width: 100%;
        height: 100vh;
        background-image: url("../images/hero-image-no-logo.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .album-cover img {
        display: none;
    }
}

/*For 600px breakpoint in Chrome Dev Tool*/
@media only screen and (max-width: 600px) {

    #namelogo {
        width: 60%;
        letter-spacing: normal;
    }

    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
    }

    .hero-image {
        display: none;
    }

    .album-cover img {
        max-width: 80%;
        display: block;
    }

    .padding-pixel-mob {
        padding: 0 10px 0 10px;
    }

    .list-inline-item i {
        letter-spacing: 40px;
        text-align: center;
    }

    .socials i {
        font-size: 16px;

    }

    .socials {
        margin-left: auto;
        padding-left: 35px;
    }

    /*adjust text size and layout in Pixel*/
    .form-sent h1,
    .form-sent h2,
    .form-sent h3 {
        font-size: 7vw;
        padding: 0 1em 0 1em;
        letter-spacing: 5px !important;
    }

    audio {
        width: 10em;
    }
}


/*For Moto G4 compatibility*/
@media only screen and (max-width: 360px) {

    header .navbar {
        width: 100%;
    }

    #namelogo {
        width: 70%;
        font-size: xx-large;
    }

    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
    }

    .hero-image {
        display: none;
    }

    .album-cover img {
        max-width: 80%;
    }

    .form-sent {
        padding-left: 30px;
        padding-right: 30px;

    }

    /*adjust text size*/
    .form-sent h1,
    .form-sent h2,
    .form-sent h3 {
        font-size: 6vw;
        letter-spacing: 5px !important;
    }

    audio {
        width: 10em;
    }

    .list-inline-item i {
        letter-spacing: 40px;
        text-align: center;
    }

    .socials i {
        font-size: 16px;

    }

    .socials {
        margin-left: auto;
        padding-left: 35px;
    }

    .input-group {
        display: grid;
    }

    .input-group>.form-control,
    .input-group>.form-select {
        width: auto;
    }

    .biography-heading h2 {
        font-size: 8vw;
    }



    /*code for placeholder text alignment in contact.html*/
    textarea,
    input::placeholder {
        text-align: center;
    }

}


@media only screen and (max-width: 280px) {
    header .navbar {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;

    }

    #namelogo {
        width: 80%;
        font-size: x-large !important;
    }

    .navbar-collapse {
        background-color: rgb(0 0 0 / 6%);
    }

    .hero-image {
        display: none;
    }

    /*heading size for Galaxy Fold*/
    .gen-heading {
        font-size: large;
    }

    .album-cover img {
        max-width: 80%;
    }

    audio {
        width: 6em;
    }

    .list-inline-item i {
        letter-spacing: 30px;
        text-align: center;
    }

    .socials i {
        font-size: 16px;

    }

    .socials {
        margin-left: auto;
        padding-left: 35px;
    }

    .input-group {
        display: grid;
    }

    .input-group>.form-control,
    .input-group>.form-select {
        width: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
        font-family: "Poppins", sans-serif;
        color: #008080;
        font-size: large !important;

    }

    .biography .offset-2 {
        margin-left: 15vw !important;

    }

    /*code for placeholder text alignment in contact.html*/
    textarea,
    input::placeholder {
        text-align: center;
    }

}